<!doctype html>
<html lang="ko">

<head>
  <script src="https://code.jquery.com/jquery-4.0.0.js" integrity="sha256-9fsHeVnKBvqh3FB2HYu7g2xseAZ5MlN6Kz/qnkASV8U="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" />
  <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.0/dist/flowbite.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
  <div class="m-2 p-3 flex flex-col min-h-screen">
    <div class="">
      <p class="font_medium">정글러의 득근득근한 생활을 위한</p>
      <p class="font_large font-bold">Jung/eGYM</p>
    </div>
    <div class="flex flex-1 flex-row">
      <div class="flex-2 flex flex-col">
        <div class="outline-2 rounded-[15px] space-y-7 flex-1">
          <!-- 로그인 전에 보일 부분 -->
          {% if not user %}
          <div class="login_pannel space-y-4" id="login_section">
            <input type="text" placeholder="ID"
              class="login_id_btn font_medium rounded-lg bg-[#dddddd] border-none focus:ring-2 focus:ring-black-600 focus:outline-none w-full p-4 transition" />
            <input type="password" placeholder="PWD"
              class="login_password_btn font_medium rounded-lg bg-[#dddddd] border-none focus:ring-2 focus:ring-black-600 focus:outline-none w-full p-4 transition" />
            <button
              class="font_medium rounded-lg bg-blue-600 text-white border-none w-full p-4 hover:outline-blue-800 hover:outline-2 active:bg-blue-800 transition"
              onclick="loginButton(this)">
              로그인
            </button>
            <button
              class="font_medium register font_medium rounded-lg outline-[#dddddd] outline-2 border-none w-full p-4 hover:outline-black hover:outline-2 active:bg-yellow-50 transition"
              onclick="registerButton(this)">
              회원가입 후 운동기록하기
            </button>
          </div>
          {% endif %}
          <!-- 로그인 후에 보일 부분 -->
          {% if user %}
          <div class="login_pannel space-y-6" id="user_section">
            <div class="flex items-start justify-between">
              <!-- 왼쪽 텍스트 -->
              <span id="txt_welcome" class="leading-relaxed text-black">
                {{ user.name }}님의<br />
                건강한 정글 생활을 응원합니다
              </span>

              <!-- 오른쪽 버튼 -->
              <a href="/edit" class="flex-shrink-0">
                <img src="{{ url_for('static', filename='icons/edit.svg') }}" class="w-6 h-6" />
              </a>
            </div>
            <button
              class="font_medium rounded-lg bg-blue-600 text-white border-none w-full p-4 hover:outline-blue-800 hover:outline-2 active:bg-blue-800 transition">
              GYM출근
            </button>
            <button class="w-full text-center underline" onclick="logoutButton(this)">
              로그아웃
            </button>
          </div>
          {% endif %}
          <!-- 메뉴 -->
          <div class="login_pannel space-y-6" id="menu_section">
            <button
              class="font_medium dash_board_pannel rounded-lg outline-[#dddddd] outline-2 w-full p-4 hover:outline-black hover:outline-2 active:bg-yellow-50 transition"
              onclick="dashBoardButton(this)">
              홈
            </button>
            <button
              class="font_medium record font_medium rounded-lg outline-[#dddddd] outline-2 w-full p-4 hover:outline-black hover:outline-2 active:bg-yellow-50 transition"
              onclick="recordButton(this)">
              나의 기록
            </button>
          </div>
        </div>
      </div>
      <div class="flex-8 flex flex-col">
        <div
          class="mx-2 mb-2 p-3 outline-2 rounded-t-[15px] bg-white flex-7">
          <!-- 그래프 튀지 않게 부모 높이 지정 -->
          <div class="flex w-full gap-4 h-full">
            <!-- 기록 버튼 영역-->
            <div class="w-1/5 bg-white h-full flex justify-center items-center">
              <div class="flex flex-col gap-15">
                
                <button id="btn-week"
                  class="w-32 h-14 rounded-lg bg-gray-200 font-medium hover:bg-gray-300 transition">
                  주간 기록
                </button>

                <button id="btn-month"
                  class="w-32 h-14 rounded-lg bg-gray-200 font-medium hover:bg-gray-300 transition">
                  월간 기록
                </button>
              </div>
            </div>
            <div class="bg-white h-[380px]"> 
              <canvas id="periodChart" class="w-full h-full"></canvas>
            </div>
          </div>
        </div>
        <div class="history_table grid grid-cols-1 gap-4 mx-2 mt-2 p-3 outline-2 flex-8">
          <div class="flex items-center justify-between">
            <!-- 운동 기록 목록 -->
            <div class="flex items-center w-full">
              <span class="mx-3 text-lg font-medium">운동 기록 목록</span>
            </div>

            <div class="flex gap-2 ml-4">

              <button class="bg-gray-100 rounded-md px-6 py-2 text-sm whitespace-nowrap">
                전체 기간
              </button>

              <a href="/edit" class="bg-gray-100 rounded-md px-4 py-2 flex items-center justify-center">
                <img src="{{ url_for('static', filename='icons/calendar.svg') }}" class="w-6 h-6" />
              </a>

            </div>

          </div>

          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">날짜</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">시간</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr>
                <td class="px-6 py-4 whitespace-nowrap">3월 3일</td>
                <td class="px-6 py-4 whitespace-nowrap">08:00 ~ 08:30</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
  </div>

  <script>
    // 버튼 스크립트
    function loginButton(e) {
      const login_id = $(".login_id_btn").val();
      const login_password = $(".login_password_btn").val();

      $.ajax({
        type: "post",
        url: "/login",
        data: {
          id_give: login_id,
          pw_give: login_password,
        },
        success: (response) => {
          console.log(response);
          if (response.success) {
            location.reload();
          }
        },
      });
    }

    function logoutButton(e) {
      $.ajax({
        type: "post",
        url: "/logout",
        success: (response) => {
          console.log(response);
          if (response.success) {
            location.reload();
          }
        },
      });
    }
    const registerButton = (e) => {
      window.location.href = "/join_home";
      console.log(e);
    };
    const dashBoardButton = (e) => {
      console.log(e);
    };
    const recordButton = (e) => {
      console.log(e);
    };

    const rootStyles = window.getComputedStyle(document.documentElement);

    const mainColorValue = rootStyles.getPropertyValue("--main-color");
    const fontSizeValue = rootStyles.getPropertyValue("--font-size");

    const fontSizeConverter = (className) => {
      // 3. CSS 변수 값을 변경하기 위해 element.style.setProperty() 함수를 사용합니다.
      const targetElement = document.querySelector(`.${className}`);
      console.log(targetElement);
      const height = $(window).height();
      const width = $(window).width();
      const font_size = targetElement.getPropertyValue("--font-size");
      targetElement.style.setProperty("-color", "red");
      targetElement.style.setProperty("--font-size", "100px");
    };
    // fontSizeConverter("font_large");

    const getOTTTTTTTT = () => {
      $.ajax({
        type: "get",
        url: "",
        data: {},
        success: (response) => {
          const ctx = document.getElementById("myChart");
          const day_array = Object.keys(response);
          const people_array = [];
          for (let i = 0; i < day_array.length; i++) {
            people_array.push(response[day_array[i]]);
          }

          new Chart(ctx, {
            type: "line",
            data: {
              labels: day_array,
              datasets: [
                {
                  label: "# of Votes",
                  data: people_array,
                  borderWidth: 1,
                },
              ],
            },
            options: {
              maintainAspectRatio: false,
              scales: {
                y: {
                  beginAtZero: true,
                },
              },
            },
          });
        },
      });
    };
    // 그래프 교체하기
    const ctx = document.getElementById("periodChart");
    let chart = null;

    function drawChart({ labels, data, title, type, yMin = 0, yMax, stepSize }) {
      // 기존 차트 제거하고 다음 그래프 그리기
      if (chart) chart.destroy();

      chart = new Chart(ctx, {
        type,
        data: {
          labels,
          datasets: [{
            label: title,
            data
          }]
        },
        options: {
          responsive: true,
          plugins: {
            tooltip: { enabled: true },
            legend: { display: true }
          },
          scales: {
            y: { 
              min: yMin,
              max: yMax,
              ticks: {
                stepSize: stepSize
              }
            }
          }
        }
      });
    }

    const weekly = {
      labels: ["월","화","수","목","금","토","일"],
      data: [1,2,3,4,5,4,3],
      title: "운동시간(시?분?)",
      type: "bar",
      yMin: 0,
      yMax: 5,
      stepSize: 1
    };

    const monthly = {
      labels: ["1월","2월","3월","4월","5월","6월","7월","8월","9월","10월","11월","12월"],
      data: [50,100,70,150,200,170,200,300,240,240,0,50],
      title: "운동시간(시?분?)",
      type: "line",
      yMin: 0,
      yMax: 300, //아직 미정
      stepSize: 50 //아직  미정
    };

  document.getElementById("btn-week").addEventListener("click", () => drawChart(weekly));
  document.getElementById("btn-month").addEventListener("click", () => drawChart(monthly));

  // 첫 그래프는 주간그래프
  drawChart(weekly);
</script>
</body>

</html>